{{- range .Values.deployments }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .service.name }}
  namespace: {{ $.Values.namespace }}
  labels:
    app: {{ .name }}
spec:
  type: ClusterIP
  ports:
  - port: {{ .service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ .name }}
{{- end }}