app:
  name: my-app

namespace: dev

replicaCount: 2

image:
  repository: nginx
  tag: latest
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  name: my-app-ingress
  className: nginx
  host: k8.publicvm.com
  path: /
  pathType: Prefix
  sslRedirect: true
  forceSslRedirect: true
  rewriteTarget: /
  tls:
    enabled: true
    clusterIssuer: letsencrypt
    secretName: my-app-tls

service:
  name: my-app-service
  port: 80
