replicaCount: 1
image:
  repository: nginx
  tag: stable

# Enable ingress for dev environment
ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: k8.publicvm.com
      paths:
        - path: /
          pathType: Prefix
          port: 80
  tls: []
