---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: alertmanager-slack-webhook
  namespace: monitoring
spec:
  encryptedData:
    slack-webhook-url: AgC4EqIDj7rG6S/1JY4gk6D44gNjuSU6N2Il/vwATFNKizu6Ve+tGJ8qdniO+SsdNApQa2zkkjPpZ9zHTyiy0DaUDQICyk8mH1+vsoVhPJDUb+LlfRFGi1N6MjG7VwAoezYm7C1AHmtImneURKEYKfkwQ4ByomIiX0NdnMr3Fd+NGk6d8my7078jFgxrZ43YNcLt1BcYr1T6XQOAYPgR0s1zDAU8TVjmDbybk3ItqSmyL0hX+p1aXDq/4HXEexekJPtR/NDFOtStQ8a6nAlYkPd2Jof8LGG4tegWNhhjEDisSRvKhSD2bQqnOUPvU77cwQaSDJanogx/h8JVzNJfk4uNDoy9Aw3bKUMuC3Q7P+YGuSkTlQU5kmlWsAiNbFFeM7Lydwhyr+x94d5NRTmdvpEguP9iBA/8VWHPrGdkyy2u8kG14iAkU8nSIyGrP/rlZwSwRxViIM9I0HIIGH7jt0Vx/WrL0cX4TUz8bkJ4GkqLlantrx1T1h01tJnlWrfMjGNj9jrttlQbTC0BN8UFf90csWou3Wko2adtjhUe8Mfk+pbfM3K48zLBXDUVdusRHw4rnvtBqGPoJ3B2WlHJKYG/Nbrl5+/d0RPz2DftabuCYEEr6tsJpUoElpNRxjhALIcT0rzO2Uo2rtsNugMagOZhDiWPaETj2oEVzZIyVXJKi9HtXzS36XVOYTypZM4MA4W+6kmStogw8ahFBGiHL/WFVkbFb99gYoeMGCvoWRl0Hb6uorND8cSHRH5/KrJYFWaFsDP/yChQBXvT//7QX3tSEykAk213v4cknSW7RWVu+g8=
  template:
    metadata:
      name: alertmanager-slack-webhook
      namespace: monitoring
