apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: custom-prometheus-rules
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: monitoring
spec:
  project: default
  source:
    repoURL: https://github.com/emiresh/argo.git  # Update with your repo URL
    targetRevision: main
    path: clusters/test-cluster/05-infrastructure
    directory:
      include: 'freshbonds-prometheus-rules.yaml'
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
