apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-ingress
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: ingress-nginx
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.8.3
    chart: ingress-nginx
    helm:
      values: |
        controller:
          replicaCount: 1
          service:
            type: NodePort
            nodePorts:
              http: 31143
              https: 30388
          metrics:
            enabled: true
          admissionWebhooks:
            enabled: true
          config:
            use-forwarded-headers: "true"
            proxy-body-size: "100m"
        defaultBackend:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
